---
- name: Deploy Nginx container
  hosts: docker_hosts
  become: true
  tasks:

    - name: Pull latest nginx image
      docker_image:
        name: nginx
        source: pull

    - name: Run nginx container
      docker_container:
        name: my-nginx
        image: nginx
        state: started
        ports:
          - "80:80"
