- name: Deploy Node.js App container
  hosts: docker
  become: true

  tasks:
    - name: Stop existing container
      shell: |
        docker stop devops-app || true
        docker rm devops-app || true

    - name: Pull versioned image
      community.docker.docker_image:
        name: "mitend69/devops-app:{{ image_tag }}"
        pull: yes

    - name: Run container
      community.docker.docker_container:
        name: devops-app
        image: "mitend69/devops-app:{{ image_tag }}"
        state: started
        restart_policy: always
        ports:
          - "3000:3000"

